body {
	font-size:10px;
	font-family: Verdana, Geneva, sans-serif ;
  
    

}


.container {
	text-align: center;
	
	
}

a { 
    text-decoration: none;
   } 

.logo {
	position: relative;
    display: inline-block;
	padding-top: 26%;
	padding-bottom: 36%;
	height: 85px;
    width: 239px;
	text-align: center;
}


	
button  {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: 2px solid #6ecff5;
  border-radius: 10px;
  background: #9a76ba;
  text-transform: uppercase;

               
}

button:hover {
  background-color: #6ecff5;
}




a .text {
	font-size:10px;
	font-family: Verdana, Geneva, sans-serif ;
	text-decoration: none;
	color: #6ecff5;
	
	
	
	
}